{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sir Syed Academy</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/favicon.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'index' %}">Sir Syed Academy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
<a href="{% url 'index' %}" class="logo mr-auto"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'team' %}">Our Team</a></li>
          <li class="drop-down"><a>Courses</a>
            <ul>
              <li><a href="{% url 'Business' %}">Business English</a></li>
              <li><a href="{% url 'Kids' %}">English for Kids</a></li>
              <li><a href="{% url 'Corporate' %}">Corporate training</a></li>
              <li><a href="{% url 'Housewives' %}">English for Housewives</a></li>
              <li><a href="{% url 'Interview' %}">English for Interviews</a></li>
              <li class="active"><a href="{% url 'StressManagement' %}">Stress Management</a></li>
              <li><a href="{% url 'Coding' %}">Coding</a></li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Stress Management</h2>
        <p>At a times of Emotion in Lives of people, we provide an environment of safety, confidentiality, and compassion. It’s our priority to make you feel truly heard and understood, as we break through these roadblocks to Emotional Health, Mental Health, relationship utmost satisfying. EINSPIRELL is available 24 *7 affirming to all Emotional Health, Personality issue and all type of case management, the individuality of all who come to our online platform regardless of race, ethnicity, faith, disability, sexual or gender identity. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div>
            <img src="assets/img/course-details.jpg" class="img-fluid" alt="">
            <img src="{% static 'assets/img/1.jpg' %}" width="500" />
            <h3>Our mission:</h3>
            <p>
              To help improve relationships and empower individuals to have healthier and happier lives.
              <br>
              To provide individuals tools to manage their emotion, behavior, conflict and stress better. 
            </p>
            <h3>Our vision:</h3>
            <p>To help individuals and relationships transform and become empowered to manage their stress and emotions as well as their stress.</p>
            <h3>How it works:</h3>
            <p>Our focus is to help individuals heal, energize, and become aware of their inner strengths. We achieve this by providing a neutral safe space, listening to your concerns, and customizing a treatment plan. We believe in holistic approach of addressing our client's concern and need. Client emotional health issues is treated in completely strategic and client customized needs base, We are committed to be there for you every step of your life journey as a child, adult, as a parent, person, professional and family. Our goal is to help you to grow from your struggles, Inhibition, bad past, your pain, and move forward to where you want to be in your life as a successful as a person.</p>
            <h3>How Counselling helps:</h3>
            <img src="{% static 'assets/img/2.jpg' %}" width="500" />
            <p>Counselling, the provision of professional assistance and guidance in resolving personal or psychological problems. Many people will, at some point in their lives, find themselves in the role of a counsellor without having a true understanding of the concept of counselling or what the role of the professional counsellor entails. The depth of your inner world, your unconscious motivations, your buried phantasies, when left unexplored, often hold you back from reaching your whole potential. It is often difficult to face and accept all the broken, unloved, unexplored fragments of ourselves alone and with honesty. It is through this process that you will have the safety and freedom to try.  
              <br>
              Psychotherapy and counselling is not only restricted to relieving the psychological difficulties, trauma or crises you are experiencing, but also helps you develop and flourish as a person. It offers a confidential, compassionate space to explore the fullness of yourself and allows you to reconnect with the lost, neglected parts of you. 
            </p>
            <img src="{% static 'assets/img/3.jpg' %}" width="500" />
            <p>Stress and stress management, Stress is a feeling of emotional or physical tension. It can come from any event or thought that makes you feel frustrated, angry, or nervous. Stress is your body’s reaction to a challenge or demand. Stress management is a wide range techniques and psychotherapies require customized planning aimed at controlling a person’s level of stress, especially chronic stress, usually for the purpose of and for the motive of improving everyday functioning and living stress free life. </p>
            <img src="{% static 'assets/img/4.jpg' %}" width="500" />
            <p>Focus and priority: We’re passionate about assisting people formalize their natural helping abilities so they can support others to lead happier, healthier lives. In this way, our work enriches the wellbeing of our students, their communities. The major focus of counseling is to enable the individual to make critical decisions regarding alternative courses of action without outside influence. Counseling will help individuals obtain information, and to clarify emotional concerns that may interfere with or be related to the decisions involved. </p>
            <h3>Depression, Anxiety, OCD</h3>
            <img src="{% static 'assets/img/4.5.jpg' %}" width="500" />
            <p>Depression is a mood disorder that can affect person daily life. It may be described as feelings of low, sadness, loss, anger, Lack of interest in food, meeting people, too much sleep, not enjoying daily routine work at personal and professional level. 
              <br>Anxiety is your body's natural response to stress. It's a feeling of fear or apprehension about what's to come. <br>Obsessive–compulsive disorder is a thought process problem in which a person feels the need to perform certain routines repeatedly or has certain thoughts repeatedly. The person is unable to control either the thoughts or activities for more than a short period of time.  
            </p>
            <img src="{% static 'assets/img/5.jpg' %}" width="500" />
            <h3>Stress and stress management </h3>
            <p>Stress is a feeling of emotional or physical tension. It can come from any event or thought that makes you feel frustrated, angry, or nervous. Stress is your body's reaction to a challenge or demand.  <br>Stress management is a wide range techniques and psychotherapies require customized planning aimed at controlling a person's level of stress, especially chronic stress, usually for the purpose of and for the motive of improving everyday functioning and living stress free life. 
            </p>
            <img src="{% static 'assets/img/6.jpg' %}" width="500" />
            <h3>Emotional Health </h3>
            <p>Emotional Health is a state of mind in which individual realizes his or her own potential, can cope with the normal stresses of life, can work productively and fruitfully, and is able to make a contribution to his and herself and community. <br>Emotional Health Issues: Major emotional health issues are Depression, anxiety, stress, Sadness, Negativity, Procrastination, Body image, Grief, loss. <br>Major change in your life such as new college, New syllabus, new work set up, relationship, becoming Parent, can all affect your emotional health. Sometimes it is hard to know if what you are experiencing is a depression, sadness, worry or anxiety.
            <br> Factor Influence emotional health <br>Personality type, Personality Dynamics, Level of Emotional Health, Parenting style, Education, Age, sex, Environmental situation, Ego structure, Coping strategy, Pattern of defense mechanism usage, Career & life Goal and purpose of life, High expectation from self, parent, spouse/ Partner <br>High emotional health builds positive attitudes. as a result we feel, Motivated, Satisfied, Happy, High on Self-esteem, Self-controlled, like social life and Friendship, Feeling Appreciative, feel Peace Attributing and setback life failure quickly to present environment, optimistic. Laugh on our own set back by taking different perspectives <br>low Emotional health builds negative attitudes as a result we face Angers, resentment, frustration, disappointment, Loneliness, depression, stress, Fear, instability, Guilt, victimization, hurt , Attributing setback or failure to larger environment, internal weakness. </p>
            <img src="{% static 'assets/img/7.jpg' %}" width="500" />
            <h3>Sexuality</h3>
            <img src="{% static 'assets/img/8.jpg' %}" width="500" />
            <p>Sexuality is the way people experience and express themselves sexually. This involves biological, erotic, physical, emotional, social, spiritual feelings, behavior and act. Enjoy a more fulfilling sex life by enhancing your intimacy with winning skill of intimate relationship. <br>
            RELATED ISSUES:<br>Lack of sexual desire between couple 
<br>
Sex arousal issue 
<br>
Sex performance Anxiety  
<br>
Premature ejaculation 
<br>
Erectile dysfunction 
<br>
Delayed ejaculation 
<br>
Inability to reach orgasm 
<br>
Uncertainty about sexual orientation 
<br>
Conflicting sexual desires in partner 
<br>
Recovery from sexual abuse, assault  
<br>
Body image issues related conflict  
<br>
Sexual impulses/ compulsion which may lead to distress 
<br>
Promiscuous behavior 
<br>
Infidelity / Cheating in relationship 
<br>
Loneliness in relationship 
<br>
Intimacy issues in relationship 
<br>
Different need of partner in sexual act 
<br>
Porn addiction in life 
<br>
Pain during sexual relationship 
<br>
Gender dysphoria  
<br>
Healthy & satisfying Sex life is a medicine in married life it make married life most productive, satisfying, and enable us to reach at utmost level of happiness.in case of any specific issue brief therapy intervention is life changing at emotional health level. <br>
Sex therapy is a psychotherapy process that specifically addresses the needs of individuals and couples who have concerns about their sexual desires, relationships, pleasures, or performance. A solution-focused approach is used to provide clients with resources, tools, and skills to enjoy a healthy, fulfilling sexual relationship <br>
Common Sexual Perversion 
<br>
Sexual Sadism 
<br>
Sexual Masochism 
<br>
Fetishism 
<br>
Frotteurism 
<br>
Transvestism  
<br>
Exhibitionism  
<br>
Voyeurism 
<br>
Pedophilia
<h3>SESSIONS:</h3>


             </p>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-2">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">INTROSPECT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">SELF THERAPY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">DISCUSS AND ASSESSMENT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">RECOVERY PLAN 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">RECOVERY PLAN 2</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <p>
                      1. Identify your problems.
                      <br>
                      2. Understand your thoughts.
                    </p>
                    <p class="font-italic">
                      Duration: 2 days
                      <br>
                      Mode of communication: Text/Voice Call
                      <br>
                      Time: 30 minutes
                    </p>
                    <h3>Price: ₹500</h3>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <p>
                      1. Identify and challenge negative thoughts.
                      <br>
                      2. Understand cause and effect.
                      <br>
                      3. Experience Therapeutic Interventions,
                    </p>
                    <p class="font-italic">
                      Duration: 3 days
                      <br>
                      Mode of communication: Text/Voice Call
                      <br>
                      Time: 30 minutes
                    </p>
                    <h3>Price: ₹1500</h3>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                     <p>
                      1. Vent out in personal space.
                      <br>
                      2. Build Therapy Plan.
                    </p>
                    <p class="font-italic">
                      Duration: 5 days
                      <br>
                      Mode of communication: Text/Voice Call
                      <br>
                      Time: 30 minutes
                    </p>
                    <h3>Price: ₹2500</h3>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                     <p>
                      Therapy sessions
                    </p>
                    <p class="font-italic">
                      Duration: 15 days
                      <br>
                      Mode of communication: Text/Voice Call
                      <br>
                      Time: 30 minutes
                    </p>
                    <h3>Price: ₹7500</h3>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                     <p>
                      Therapy sessions
                    </p>
                    <p class="font-italic">
                      Duration: 30 days
                      <br>
                      Mode of communication: Text/Voice Call
                      <br>
                      Time: 30 minutes
                    </p>
                    <h3>Price: ₹15000</h3>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Sir Syed Academy</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://m.facebook.com/Sir-Syed-Academy-100845991614354/?ref=m_notif&notif_t=page_user_activity" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/sirsyedacademy001/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.me/918791825303" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.linkedin.com/company/einspirell" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>